* {
    font-family: 'Poppins', sans-serif;
}

.section_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.leftsection {
    width: 50%;
}
.logo {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 120px;
    height: 150px;
}
.inline_txt {
    display: flex;
}
.emphasis {
    color: #7936FC;
    margin-left: 5px;
}
#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
}
.inline {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 200px;
}
.addinput {
    display: flex;
    flex-direction: column;
}
.addinput input {
    width: 450px;
}
.inputline button {
    background-color: transparent;
    border: none;
    opacity: 0.5;
    cursor: pointer;
}
.input {
    padding-left: 20px;
    margin: 20px 0;
    font-size: 18px;
    width: 300px;
    height: 50px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.resume_upload {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 30px;
}

.resume_url {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin: 0 30px;
}
.resume_url input {
    width: 200px;
    margin-top: 0;
}



.submit_wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.partone {
    width: 60px;
    height: auto;
    border-radius: 5px;
    text-align: center;
    background-color: #7936FC;
    color: #ffffff;
    margin-top: 20px;
}
#return_btn {
    margin-top: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#submit_btn {
    padding: 20px;
    margin: 30px 0 10px 0;
    border: none;
    border-radius: 60px;
    color: #ffffff;
    background-color: #7936FC;
    font-size: 28px;
    cursor: pointer;
    justify-self: flex-end;
}
.rightsection {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.rightsection img {
    width: 90%;
    height: 700px;
    border-radius: 200px 0 200px 0;
}
.rightsection img::before {
    content: "";
    background-color: #eeeeee;
    width: 90%;
    height: 700px;
}