/* -- TODOs -- */
/* TODO - trocar unidades px por rem */



* {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
};

/* Alinhamento e estilização da NAV */
.navwrapper {
    width: 100%;
}
.wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
}
.navicon {
    display: flex;
}
#searchbutton {
    background-color: transparent;
    border: solid 1px #000000;
    border-radius: 60px;
    width: 151px;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 45px;
}

/* Alinhamento e estilização da "Info Conta" */
.contawrapper {
    padding: 0 200px;
    display: flex;
    justify-content: space-around;
}
.infowrapper {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.infocontentwrapper {
    display: flex;
    flex-direction: column;
    
}
.infoconta {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px rgba(0, 0, 0, 0.3) solid;
    margin-bottom: 50px;
    margin-top: -70px;
}
.profileimagewrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-top: 200px;
}

.infolinks {
    display: flex;
}
.border {
    height: 3px;
    width: 950px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-left: 25%;
}




/* Imagens */
#hamburguericon {
    width: 90px;
    height: 90px;
}
#logo {
    width: 80px;
    height: 99.67px;
}
#searchicon {
    width: 49.64px;
    height: 47.11px;
    align-self: center;
    
}
#profileicon {
    width: 63px;
    height: 63px;
}
#profileimage {
    width: 316px;
    height: 316px;
    object-fit: cover;
    border-radius: 50%;
}
#shareicon {
    width: 64.8px;
    align-self: flex-start;
    margin-left: -30px;
}

/* formatação dos textos */
/* seção da informação da conta */
.contawrapper p {
    font-size: 36px;
}
#nome_usr {
    font-size: 72px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#profissao, #regiao {
    font-size: 36px;
    font-weight: 400;
}
#profissao {
    padding-right: 100px;
}
#publicarbtn {
    width: 100px;
    height: 60px;
    background-color: transparent;
    border: 3px solid #7936FC;
    border-radius: 60px;
    padding-right: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 100px;
}
#publicarbtn a {
    font-size: 28px;
    text-decoration: none;
    color: #7936FC;
    padding-left: 100px;
}
#projectlink {
    font-size: 28px;
    text-decoration: none;
    color: #7936FC;

    margin-top: -30px;
    margin-bottom: 30px;
}