* {
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}

/* Alinhamento e estilização da NAV */
.navwrapper {
    width: 100%;
}
.wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 1.875rem;
    
}
.navicon {
    display: flex;
}
#searchbutton {
    background-color: transparent;
    border: solid 0.063rem #000000;
    border-radius: 3.75rem;
    width: 9.438rem;
    height: 4.313rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2.813rem;
}
/* main content */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #c4c4c4;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}
.dropbtn img {
    margin-right: 5px;
}
.dropdown-content {
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 1;
    background-color: #f9f9f9;
}
.dropdown-content button {
    width: 100%;
    border: none;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 10px;
    cursor: pointer;
}
.dropdown-content button:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
#jobform {
    display: flex;
    flex-direction: column;
    margin: 100px 200px;
}
label {
    font-size: 32px;
    font-weight: 600;
    margin: 50px 0 25px 0;
}
#title {
    width: 450px;
    height: 40px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-size: 24px;
}
#description_input, #priorities {
    resize: none;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 1050px;
    height: 350px;
    margin-bottom: 50px;
    font-size: 24px;
}
.formline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-right: 80px;
    margin-bottom: 50px;
}
#deadline {
    height: 40px;
    width: 100px;
    border: none;
    background-color: #c4c4c4;
    color: #000000;
    border-radius: 5px;
}
.addimage_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img_preview {
    display: flex;
}
.image_placeholder {
    width: 150px;
    height: 150px;
    background-color: #c4c4c4;
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin: 15px;
}
.addimg_wrapper {
    margin-top: 75px;
}
#submit_job {
    width: 200px;
    height: 80px;
    align-self: center;
    margin-top: 75px;
    border-radius: 60px;
    color: #ffffff;
    border: none;
    background-color: #7936FC;
    font-size: 24px;
}





/* Footer */
footer {
    display: flex;
    flex-direction: row;
    margin: 10rem 13.125rem ;
    align-items: center;
}
.slogan {
    margin: 0 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newsletter input{
    border: none;
    border-bottom: rgba(0, 0, 0, 0.3) 1px solid;
    width: 21.875rem;
}
.newsletter button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 0.7;
    margin-top: 1.875rem;
}
.submitnewsletter {
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.quicklinks h3, .quicklinks a {
    white-space: nowrap;
}

.quicklinks a, .quicklinks li {
    color: #000000;
    list-style-type: none;
    opacity: 0.9;
}
.slogan h3 {
    font-weight: 600;
    opacity: 0.7;
}
.submitnewsletter input {
    font-size: 1.5rem;
}

/* ------------------------------ Imagens ----------------------------- */
#hamburguericon {
    width: 5.625rem;
    height: 5.625rem;
}
#logo {
    width: 5rem;
    height: 6.229rem;
}
#searchicon {
    width: 3.103rem;
    height: 2.944rem;
    align-self: center;
    
}
#profileicon {
    width: 3.938rem;
    height: 3.938rem;
}
/* footer */
.slogan img {
    width: 0.313;
    height: 6.229rem;
}